/*
    $color1: rgba(229,166,142,1);
    $color2: rgba(229,153,170,1);
    $color3: rgba(214,126,192,1);
    $color4: rgba(156,98,188,1);
    $color5: rgba(20,11,145,1);
*/

:root {
    --color1: rgba( 43, 76,111,1);
    --color-bg: rgba(153,176,201,1);
    --color3: rgba( 85,117,149,1);
    --color4: rgba( 14, 43, 72,1);
    --color-title: rgba(  2, 18, 34,1);

}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: var(--color-bg);
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to bottom right, var(--color-bg), var(--color1));
    background: -moz-linear-gradient( to bottom right, var(--color-bg), var(--color1));
    background: -ms-linear-gradient( to bottom right, var(--color-bg), var(--color1));
    background: -o-linear-gradient( to bottom right, var(--color-bg), var(--color1));
    background: linear-gradient( to bottom right, var(--color-bg), var(--color1));
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height:
}

h1 {
    color: var(--color-title);
}
